<div class="container">
<h1>Редактирование анкеты</h1>

<%= render 'form', questionnaire: @questionnaire %>

<%= link_to 'Показать', @questionnaire %> |
<%= link_to 'К списку', questionnaires_path %>
</div>
